include: [component: $CI_SERVER_FQDN/lc-components/id_tokens/id_tokens-component@main]

variables:
  LLNL_SLURM_SCHEDULER_PARAMETERS: "--nodes=1 --reservation=ci --userns --exclusive"
  VERSION: "latest"

build:
  stage: build
  tags:
    - dane
    - batch
  script:
    - enable-podman.sh
    - echo "${CI_REGISTRY_PASSWORD}" | podman login -u="$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
    - mkdir -p aizynth
    # adding AZF_PATH into current podman build context
    - cp -r $AZF_PATH aizynth
    - podman build --rm --pull-always --force-rm --cgroup-manager=cgroupfs --build-arg AZF_PATH=aizynth -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" .
    # Push the branch-specific tag
    - podman push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
    # Explicitly create the latest tag locally
    - podman tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" "$CI_REGISTRY_IMAGE:latest"
    # Push the latest tag
    - podman push "$CI_REGISTRY_IMAGE:latest"
    # Push tag into SD Nexus Registry
    - echo "Pushing image into SD Nexus Container Registry"
    - echo $NEXUS_PASS | podman login -u "$NEXUS_USER" --password-stdin $NEXUS_REGISTRY
    - podman tag "$CI_REGISTRY_IMAGE:latest" "${NEXUS_REGISTRY_IMAGE}:${VERSION}"
    - podman push "${NEXUS_REGISTRY_IMAGE}:${VERSION}"
    - podman logout $NEXUS_REGISTRY
    - podman logout $CI_REGISTRY
    
deploy:
  stage: deploy
  tags:
    - shell
    - oslic
  script:
    - echo "Deploying FLASK-Copilot App in K8s server"
    - /usr/global/openshift/bin/oc login --server=$K8S_SERVER_API --token=$FLASK_DEPLOYER_TOKEN
    - /usr/global/openshift/bin/oc rollout restart deployment $DEPLOYMENT_NAME
  when: manual
